.white {
    background-color: #9c9c9c;
}

.green {
    background-color: #7de87f
}

.blue {
    background-color: #7de8e6;
}

.purple {
    background-color: #f3b5e1;
}

.orange {
    background-color: #ffb066;
}

.red {
    background-color: #f66;
}

.redp {
    background-color: #f66;
}
