.normal-bubble {
  background-color: #ececdd; /* rgb(236,236,221) */
}
.whale-power-i {
  background-color: #dce9ea; /* rgb(220,233,234) */
}

.whale-power-ii {
  background-color: #f3e7c4; /* rgb(243,231,196) */
}

.red-text {
  color: #ca6d69;
}

.orange-text {
  color: #d29061;
}

.yellow-text {
  color: #f0e2ae;
}

.green-text {
  color: #448d4a;
}

.cyan-text {
  color: #6caff8;
}

.blue-text {
  color: #5d78ca;
}

.purple-text {
  color: #832898;
}

.normal-bubble-text {
  color: #ececdd; /* rgb(236,236,221) */
}
.whale-power-i-text {
  color: #dce9ea; /* rgb(220,233,234) */
}

.whale-power-ii-text {
  color: #f3e7c4; /* rgb(243,231,196) */
}
